* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #b10e0e;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px;
}


.cabecalho-imagem {
    width: 40%;
}

.cabecalho-lista-item {
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.escola-imagem {
    width: 15%;
}

.escola {
    background-image: linear-gradient(#0c0404, #b10e0e);
    color: rgb(196, 196, 196);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-div-conteudo {
    width: 35%;

}

.escola-titulo {
    font-size: 35px;
    padding: 40px 0;

}

.estudante-imagem{
    width: 40%;
}

.estudante-icone{
    width: 35px;
}

.estudante-div{
    text-align: center;
    padding: 20px 20px;

}

.estudantes{
    background-image: linear-gradient( #b10e0e, #0c0404);
}

.estudante-titulo{
    text-align: center;
    padding: 30px;
    font-size: 32px;
    color: white;
}

.estudante-todos{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
